body {
  font-size: 1.2em;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}

span[ui-sref] {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}
span[ui-sref]:hover {
  text-decoration:none;
  text-shadow: 1px 1px 1px #555;
}